

@import "tailwindcss";
@font-face {
    font-family: 'sora';
    src: url('/src/assets/fonts/soraa.woff2');
    font-weight: normal;
    font-style: normal;
}

*{
  margin:  0;
  
  
  box-sizing: border-box;
  user-select: none;
  font-family: "sora";
}

*:focus {
  outline: none;
}


@theme {
  --color-primary: #FF844B;
  --color-secondary: #191442;
  --color-bermuda: #78dcca;
}



a{
    text-decoration: solid;
}